.link{
    text-align: center;
    align-content: center;
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 20px;
    color: var(--branco); 
    width: 180px; 
    height: 50px;
    border: 2px solid var(--box-shadow);
    border-radius: 10px;    
}

.link:hover{
    color: var(--cor-hover);
    border: 2px solid var(--cor-hover);
    box-shadow: inset 1px 1px 8px 2px  var(--cor-hover);
} 

