.container{
    margin: 24px 0;
}

.container label{
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
    font-family: var( --fonte-secundaria);
    color: var(--texto);
    font-weight: 500;
}

.container input{
    color: var( --textoform);
    font-size: 20px;
    font-family: var(--fonte-secundaria);
    margin: 0 auto;
    width: 576px;
    height: 52px;
    border-radius: 10px;
    border: solid 3px var(--darkgrey);
    background-color: var(--cor-background-color);
}

.container::placeholder{
    color: var( --textoform);
    font-size: 18px;
}

.container textarea{
    display: flex;
    color: var( --textoform);
    padding: 0.5rem;
    font-size: 20px;
    font-family: var(--fonte-secundaria);
    resize: none;
    width: 596px;
    height: 200px;
    border-radius: 10px;
    border: solid 3px var(--darkgrey);
    background-color: var(--cor-background-color);
}


@media screen and ( width < 1409px) { 

.container input{
    width: 546px;
}

}

@media screen and ( width < 1343px) { 

    .container input{
        width: 406px;
    }
    
}

@media screen and ( width < 791px) { 

    .container textarea{
        width: 406px;
    }
    
}

@media screen and ( width < 545px) { 

    .container input{
        width: 306px;
    }
    
    .container textarea{
        width: 306px;
    }
    
}


