.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 90%;
}

.formulario form{
    max-width: 100%;
    margin: 2rem;
    box-sizing: border-box;
}

.campo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}


.boxtexto h3{
    font-family: var(--fonte-secundaria);
    font-weight: 500;
    font-size: 36px;
    margin: auto 0;
    align-items: center;
    color: var(--texto);
    line-height: 42px;
    position: relative;
} 

.boxtexto h3::before,
.boxtexto h3::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid var( --darkgrey);
    border-top: 2px solid var( --darkgrey);
    width: 35em;
    bottom: 0;
    top: 0; 
    left: 0;
    right: 1;
}

.containerBotao{
    margin-top: 3rem;
    display: flex;
    gap: 2rem;   
}


@media screen and ( width < 1409px) { 

        
}

@media screen and ( width < 1395px) { 

.boxtexto h3::before,
.boxtexto h3::after {
    width: 31em;
    
}
    
}

@media screen and ( width < 1343px) { 

    .boxtexto h3::before,
    .boxtexto h3::after {
        width: 24em;
        
    }
    
}

@media screen and ( width < 1020px) { 

    .boxtexto h3::before,
    .boxtexto h3::after {
        width: 11.5em;
        
    }
    
}

@media screen and ( width < 600px) { 

  
    .boxtexto h3{
        font-size: 28px;
        
    }
    
}


