.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.7em 4em;
    flex-direction: row;
    background-color: var(--cor-background-header-footer);
    box-shadow: 0 4px 8px 2px var(--box-shadow);
}

.cabecalho img {
    width: 168px;
}

.cabecalho nav {
    display: flex;
    gap: 2rem;
    
}
